# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#eclipse
!dist/*
dist/bcprov-jdk16-145.jar
/.metadata/
/.recommenders/
/notes/
/bin/
/jar/
/meta-inf/
/classes/
/lib/
/lib_old/
/.data/
/src-test/
/src/leitej/vi/
/src/leitej/cli/
/.settings/
/.classpath
/.project
*.tmp
*.bak
*.swp
/build.xml
